*{
    margin: 0px;
    padding: 0px;
    font-family: century;  
}

header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(alegria.jpg);
    height: 100vh;
    background-size:  cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style: none;
    margin-top: 30px;
    min-height: 250px;
    margin-right: 20px;
    font-size: 17px;
}  

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5PX 20PX;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: #fff;
    color: #3b0404;
}

    ul li.active a{
        background-color: #793a3a;
        color: rgb(247, 247, 247);
    }

.logo {
    width: 150px;
    position top: 10px;
    margin-left: 5px;
}

.maim {
   margin-left: 100px ;
}

title{
    width: 50PX;
    height: 00;    
}

.title h2{
   
    padding: 5px 20px;
    color: rgb(238, 59, 59);
    font-size: 90px;
    margin-left: 100px ;
}

.btn{
    margin-left: 195px ;
}

  .btn {
    border: 1px solid#fff;
    padding: 5px 20px;
    color: bisque;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none; 
  }

  .btn:hover{
    background-color: #f00404;
    color: #000;
  }

.sub-menu{
    display: none;
    top: 7%;
    position: relative;
}

.sub-menu ul{
    position: absolute;
}

.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: rgb(222, 231, 219);
    margin-top: 0px;
    margin-left: 5px;
}

.main ul li:hover .sub-menu ul{
    display: block;
    margin: 8px;
}

.main ul li:hover .sub-menu ul li{
    width: 50px;
    padding: 15px;
    border-bottom: 1px #b9beb9;
    transition: 20.ms ease;
    text-align: left;
    border-radius: 0;
}


